<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Clerk_Clerk>
      <name>Clerk - Search And Recommendations</name>
      <version>1.2.3</version>
    </Clerk_Clerk>
  </modules>
  <global>
    <blocks>
      <clerk>
        <class>Clerk_Clerk_Block</class>
      </clerk>
    </blocks>
    <helpers>
      <clerk>
        <class>Clerk_Clerk_Helper</class>
      </clerk>
    </helpers>
    <models>
      <clerk>
        <class>Clerk_Clerk_Model</class>
      </clerk>
    </models>
    <events>
      <catalog_product_save_commit_after>
        <observers>
          <clerk_catalog_product_save_after>
            <type>singleton</type>
            <class>Clerk_Clerk_Model_Observer</class>
            <method>updateProduct</method>
          </clerk_catalog_product_save_after>
        </observers>
      </catalog_product_save_commit_after>
      <catalog_product_delete_after>
        <observers>
          <clerk_catalog_product_delete_after>
            <type>singleton</type>
            <class>Clerk_Clerk_Model_Observer</class>
            <method>updateProduct</method>
          </clerk_catalog_product_delete_after>
        </observers>
      </catalog_product_delete_after>
      <catalog_product_website_update>
        <observers>
          <clerk_catalog_product_website_update>
            <type>singleton</type>
            <class>Clerk_Clerk_Model_Observer</class>
            <method>updateProductIds</method>
          </clerk_catalog_product_website_update>
        </observers>
      </catalog_product_website_update>
      <catalog_product_status_update>
        <observers>
          <clerk_catalog_product_status_update>
            <type>singleton</type>
            <class>Clerk_Clerk_Model_Observer</class>
            <method>updateProductIds</method>
          </clerk_catalog_product_status_update>
        </observers>
      </catalog_product_status_update>
      <catalog_product_attribute_update_after>
        <observers>
          <clerk_catalog_product_attribute_update_after>
            <type>singleton</type>
            <class>Clerk_Clerk_Model_Observer</class>
            <method>updateProductIds</method>
          </clerk_catalog_product_attribute_update_after>
        </observers>
      </catalog_product_attribute_update_after>
      <cataloginventory_stock_item_save_commit_after>
        <observers>
          <clerk_cataloginventory_stock_item_save_commit_after>
            <type>singleton</type>
            <class>Clerk_Clerk_Model_Observer</class>
            <method>updateStockProductIds</method>
          </clerk_cataloginventory_stock_item_save_commit_after>
        </observers>
      </cataloginventory_stock_item_save_commit_after>
      <checkout_cart_add_product_complete>
        <observers>
          <clerk_checkout_cart_add_product_complete>
            <type>singleton</type>
            <class>Clerk_Clerk_Model_Observer</class>
            <method>setProductAdded</method>
          </clerk_checkout_cart_add_product_complete>
        </observers>
      </checkout_cart_add_product_complete>
    </events>
  </global>
  <frontend>
    <layout>
      <updates>
        <clerk module="clerk">
          <file>clerk.xml</file>
        </clerk>
      </updates>
    </layout>
    <translate>
      <modules>
        <Clerk_Clerk>
          <files>
            <default>Clerk_Clerk.csv</default>
          </files>
        </Clerk_Clerk>
      </modules>
    </translate>
    <routers>
      <catalogsearch>
        <use>standard</use>
        <args>
          <modules>
            <Clerk_Clerk before="Mage_CatalogSearch">Clerk_Clerk_CatalogSearch</Clerk_Clerk>
          </modules>
        </args>
      </catalogsearch>
      <checkout>
        <use>standard</use>
        <args>
          <modules>
            <Clerk_Clerk before="Mage_Checkout">Clerk_Clerk_Checkout</Clerk_Clerk>
          </modules>
        </args>
      </checkout>
    </routers>
  </frontend>
  <admin>
    <routers>
      <clerk>
        <use>admin</use>
        <args>
          <module>Clerk_Clerk</module>
          <frontName>clerk</frontName>
        </args>
      </clerk>
    </routers>
  </admin>
  <crontab>
    <jobs>
      <clerk_build_feeds>
        <schedule>
          <config_path>clerk/feeds/crontab_schedule</config_path>
        </schedule>
        <run>
          <model>clerk/feed::buildFeeds</model>
        </run>
      </clerk_build_feeds>
    </jobs>
  </crontab>
  <default>
    <clerk>
      <settings>
        <active>0</active>
      </settings>
      <feeds>
        <image_height>210</image_height>
        <image_width>210</image_width>
        <create_product_data>1</create_product_data>
        <create_category_data>1</create_category_data>
        <create_sales_data>1</create_sales_data>
        <crontab_schedule>37 3 * * *</crontab_schedule>
      </feeds>
      <search>
        <active>0</active>
        <template>search</template>
        <load_more_text>Load More Results</load_more_text>
        <no_results_text>There are no products matching your search. Check spelling and try again.</no_results_text>
      </search>
      <livesearch>
        <active>0</active>
        <template>live-search</template>
      </livesearch>
      <productapi>
        <active>0</active>
      </productapi>
      <powerpopup>
        <active>0</active>
      </powerpopup>
    </clerk>
  </default>
</config>
