<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Clerk_Clerk>
            <version>3.3.0</version>
        </Clerk_Clerk>
    </modules>
    <global>
        <models>
            <clerk>
                <class>Clerk_Clerk_Model</class>
                <rewrite>
                    <product>Clerk_Clerk_Model_Catalog_Product</product>
                </rewrite>
            </clerk>
        </models>
        <helpers>
            <clerk>
                <class>Clerk_Clerk_Helper</class>
            </clerk>
        </helpers>
        <blocks>
            <clerk>
                <class>Clerk_Clerk_Block</class>
            </clerk>
        </blocks>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <clerk_catalog_product_save_commit_after>
                        <class>clerk/observer</class>
                        <method>syncProduct</method>
                    </clerk_catalog_product_save_commit_after>
                </observers>
            </catalog_product_save_commit_after>
            <checkout_cart_add_product_complete>
                <observers>
                    <clerk_checkout_cart_add_product_complete>
                        <class>clerk/observer</class>
                        <method>itemAddedToCart</method>
                    </clerk_checkout_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
            <catalog_product_attribute_update_after>
                <observers>
                    <clerk_catalog_product_attribute_update_after>
                        <class>clerk/observer</class>
                        <method>syncProducts</method>
                    </clerk_catalog_product_attribute_update_after>
                </observers>
            </catalog_product_attribute_update_after>
            <clerkio_orderpage_format_item>
                <observers>
                    <clerk_orderpage_format_item>
                        <class>clerk/observer</class>
                        <method>formatScpOrderItem</method>
                    </clerk_orderpage_format_item>
                </observers>
            </clerkio_orderpage_format_item>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <clerk>
                    <file>clerk.xml</file>
                </clerk>
            </updates>
        </layout>
        <translate>
            <modules>
                <Clerk_Clerk>
                    <files>
                        <default>Clerk_Clerk.csv</default>
                    </files>
                </Clerk_Clerk>
            </modules>
        </translate>
        <routers>
            <catalogsearch>
                <use>standard</use>
                <args>
                    <modules>
                        <Clerk_Clerk before="Mage_CatalogSearch">Clerk_Clerk_CatalogSearch</Clerk_Clerk>
                    </modules>
                </args>
            </catalogsearch>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <Clerk_Clerk after="Mage_Checkout">Clerk_Clerk_Checkout</Clerk_Clerk>
                    </modules>
                </args>
            </checkout>
            <clerk>
                <use>standard</use>
                <args>
                    <module>Clerk_Clerk</module>
                    <frontName>clerk</frontName>
                </args>
            </clerk>
        </routers>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <clerk_controller_action_layout_generate_blocks_after>
                        <class>clerk/observer</class>
                        <method>layoutGenerateBlocksAfter</method>
                    </clerk_controller_action_layout_generate_blocks_after>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <clerk>
                    <file>clerk.xml</file>
                </clerk>
            </updates>
        </layout>
        <events>
            <catalog_product_delete_before>
                <observers>
                    <clerk_catalog_product_delete_before>
                        <class>clerk/observer</class>
                        <method>deleteProduct</method>
                    </clerk_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>
            <catalogrule_rule_save_after>
                <observers>
                    <clerk_catalogrule_rule_save_after>
                        <class>clerk/observer</class>
                        <method>syncOnCatalogRuleSave</method>
                    </clerk_catalogrule_rule_save_after>
                </observers>
            </catalogrule_rule_save_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <clerk_clean_catalog_images_cache_after>
                        <class>clerk/observer</class>
                        <method>syncOnCleanCatalogImagesCacheAfter</method>
                    </clerk_clean_catalog_images_cache_after>
                </observers>
            </clean_catalog_images_cache_after>
        </events>
        <translate>
            <modules>
                <Clerk_Clerk>
                    <files>
                        <default>Clerk_Clerk.csv</default>
                    </files>
                </Clerk_Clerk>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <clerk after="Mage_Adminhtml">Clerk_Clerk_Adminhtml</clerk>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <clerk>
            <general>
                <active>0</active>
                <collect_emails>1</collect_emails>
                <disable_order_synchronization>0</disable_order_synchronization>
            </general>
            <search>
                <active>0</active>
                <template>search-page</template>
                <load_more_text>Load more results</load_more_text>
                <no_results_text>No results found</no_results_text>
            </search>
            <livesearch>
                <active>0</active>
                <show_categories>0</show_categories>
                <template>live-search</template>
            </livesearch>
            <powerstep>
                <active>0</active>
                <type>popup</type>
                <templates>power-step-others-also-bought</templates>
            </powerstep>
            <exit_intent>
                <active>0</active>
                <template>exit-intent-visitor-recommendations</template>
            </exit_intent>
        </clerk>
    </default>
</config>
