<?xml version="1.0" encoding="UTF-8"?>
<config>
  <tabs>
    <clerk translate="label" module="clerk">
      <label>Clerk Recommendations</label>
      <sort_order>100</sort_order>
    </clerk>
  </tabs>
  <sections>
    <clerk translate="label" module="clerk">
      <label>Settings</label>
      <tab>clerk</tab>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <generel translate="label" module="clerk">
          <label>Clerk Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>1000</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enable: </label>
              <comment>Enable clerk extension</comment>
              <frontend_type>select</frontend_type>
              <sort_order>90</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <source_model>adminhtml/system_config_source_yesno</source_model>
            </active>
            <publicapikey translate="label">
              <label>Public API key</label>
              <depends>
                <active>1</active>
              </depends>
              <comment><![CDATA[Can be found under General at <a href="http://my.clerk.io" target="blank">my.clerk.io</a>]]></comment>
              <frontend_type>text</frontend_type>
              <validate>required-entry</validate>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </publicapikey>
            <privateapikey translate="label">
              <label>Private API key</label>
              <depends>
                <active>1</active>
              </depends>
              <comment><![CDATA[Can be found under General at <a href="http://my.clerk.io" target="blank">my.clerk.io</a>]]></comment>
              <frontend_type>text</frontend_type>
              <validate>required-entry</validate>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </privateapikey>
          </fields>
        </generel>
        <search translate="label" module="clerk">
          <label>Search Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>1100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>

            <active translate="label">
              <label>Enable: </label>
              <frontend_type>select</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <source_model>adminhtml/system_config_source_yesno</source_model>
            </active>

            <template translate="label">
              <label>Template: </label>
              <depends>
                <active>1</active>
              </depends>
              <frontend_type>text</frontend_type>
              <validate>required-entry</validate>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </template>

            <load_more_text translate="label">
              <label>Load More Text: </label>
              <depends>
                <active>1</active>
              </depends>
              <frontend_type>text</frontend_type>
              <validate>required-entry</validate>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </load_more_text>


            <no_results_text translate="label">
              <label>No Restults Text: </label>
              <depends>
                <active>1</active>
              </depends>
              <frontend_type>text</frontend_type>
              <validate>required-entry</validate>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </no_results_text>

          </fields>
        </search>

        <livesearch translate="label" module="clerk">
          <label>Live Search Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>1200</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>

            <active translate="label">
              <label>Enable: </label>
              <frontend_type>select</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <source_model>adminhtml/system_config_source_yesno</source_model>
            </active>

            <show_categories translate="label">
              <label>Show Categories: </label>
              <depends>
                <active>1</active>
              </depends>
              <frontend_type>select</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <source_model>adminhtml/system_config_source_yesno</source_model>
            </show_categories>


            <template translate="label">
              <label>Template: </label>
              <depends>
                <active>1</active>
              </depends>
              <frontend_type>text</frontend_type>
              <validate>required-entry</validate>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </template>
          </fields>
        </livesearch>

        <powerstep translate="label" module="clerk">
          <label>Power Step Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>1300</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>

            <active translate="label">
              <label>Enable: </label>
              <frontend_type>select</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <source_model>adminhtml/system_config_source_yesno</source_model>
            </active>

            <template translate="label">
              <label>Templates: </label>
              <depends>
                <active>1</active>
              </depends>
              <frontend_type>text</frontend_type>
              <validate>required-entry</validate>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </template>
          </fields>
        </powerstep>

      </groups>
    </clerk>
  </sections>
</config>
