/*
GENERAL
--------------------------------------------------------- */
#clerk-power-popup {
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
}

#clerk-power-popup .clerk-top-wrapper {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #EEE;
    margin-top: 10px;
}

#clerk-power-popup .clerk-top-wrapper .table {
    width: 95% !important;
    margin: 0 auto !important;
}

#clerk-power-popup .clerk-clearer {
    clear: both;
}


/*
ADD SUCCESS
--------------------------------------------------------- */

.alert-success {
    background-image: -webkit-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
    background-image: -o-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#c8e5bc));
    background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    color: #3c763d;
    background-color: #dff0d8;
}

.alert {
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.col4 {
    width: 32%;
    display: inline-block;
}

.col6 {
    width: 50%;
    display: inline-block;
}

.col8 {
    width: 66%;
    display: inline-block;
}

.col12 {
    width: 100%;
    display: inline-block;
}

.padding20 {
    padding: 20px;
}

.padding10 {
    padding: 10px;
}

.padding10-top {
    padding: 10px 0 0 0;
}
/*
CART OVERVIEW
--------------------------------------------------------- */

.clerk-text {
    text-align: left;
}

.clerk-price {
    text-align: right;
}

.clerk-total .clerk-text {
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.clerk-total .clerk-price {
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

#clerk-power-popup .clerk-top-wrapper .clerk-to-cart {
    width: 100%;
    margin: 0 auto;
}

#clerk-power-popup .clerk-top-wrapper .clerk-to-cart span, #clerk-power-popup .clerk-top-wrapper .clerk-to-cart span span {
    font-size: 16px;
}

#clerk-power-popup .clerk-top-wrapper .clerk-continue-shopping, #clerk-power-popup .clerk-top-wrapper .clerk-to-checkout {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
}

#clerk-power-popup .clerk-top-wrapper .clerk-continue-shopping span, #clerk-power-popup .clerk-top-wrapper .clerk-to-checkout span {
    padding: 0px;
}

/*
RESULTS
--------------------------------------------------------- */

#clerk-power-popup .clerk-results {
    clear: both;
    text-align: center;
}

@media (max-width: 767px) {
    .col6 {
        width: 100% !important;
        display: inline-block;
    }
}
